@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: "Press Start 2P", system-ui;
  background-color: #fffdfa;
}

:root {
  --bg-color: #fffef9;
  --primary-color: black;
  --second-color: #4a0605;
  --title-color: #3d4943;
  --text-color: #fff020;
}

.cabecalho {
  background-color: var(--primary-color);
  color: var(--text-color);
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 1.2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 1% 0%;
  width: 100%;
}

.cabecalho img,
.rodape-container img {
  width: 138px;
  height: 56px;
}

.cabecalho p {
  font-family: "Press Start 2P", system-ui;
  font-size: 20px;
  font-weight: 400;
  color: var(--text-color);
  text-align: center;
}

.cabecalho img,
.rodape-container img {
  width: 128px;
  height: 46px;
}

.container-principal {
  width: 100%;
  padding: 60px 40px;
  display: flex;
  justify-content: space-around;
  gap: 70px;
}

section {
  padding: 40px;
  gap: 40px;
}

.secao-produtos {
  width: 65vw;
  margin: 0 auto;
  box-shadow: -10px 10px 4px 0 #00000040;
  text-align: center;
}

h1 {
  font-family: "Press Start 2P", system-ui;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  color: var(--primary-color);
}

.produtos-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin: 20px auto;
  justify-content: center;
  max-height: 60vh;
  overflow-y: auto;
}

.card {
  width: calc(25% - 30px);
  padding: 20px;
  margin-top: 20px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: -12px 10px 6px 0 #00000040;
  background-color: var(--second-color);
  transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: -12px 20px 16px 0 #00000060;
}

.imagem-container img {
  width: 100%;
  height: 120px;
  border-radius: 10px;
}

.card-container__informacao {
  margin-top: 10px;
  font-size: 14px;
  font-weight: 600;
  color: #ffff;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

.card-container__valor {
  width: 100%;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-container__valor p {
  font-size: 12px;
  font-weight: 700;
  color: var(--text-color);
  text-align: center;
}

.botao-excluir {
  background: none;
  border: none;
  cursor: pointer;
}

.secao-formulario {
  width: 35vw;
}

.secao-formulario h2 {
  text-align: center;
  font-size: 0.8rem;
  font-weight: 400;
  color: var(--primary-color);
}

.container-formulario {
  width: 100%;
  max-width: 300px;
  padding: 10px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.container-formulario input {
  width: 100%;
  max-width: 300px;
  height: 48px;
  margin: 10px 0;
  padding-left: 10px;
  border: 3px solid #4a0605;
  border-radius: 30px;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 600;
}

::placeholder {
  color: var(--second-color);
  font-size: 12px;
}

.container-botao {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 300px;
  margin-top: 10px;
}

.container-botao button {
  width: 100px;
  height: 40px;
  font-size: 0.9rem;
  font-weight: 500;
  text-align: center;
  border-radius: 15px;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
}

.botao-enviar {
  background-color: #fffef9;
  color: black;
  border: 3px solid #4a0605;
}

.botao-limpar {
  background-color: #4a0605;
  color: #ffff;
}

.botao-enviar:hover {
  background-color: #fff020;
  border: none;
}

.rodape-container {
  width: 100%;
  height: 90px;
  text-align: center;
  background-color: var(--primary-color);
  margin-top: 16px;
}

.rodape-container div {
  font-family: "Press Start 2P", system-ui;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.rodape-container p {
  font-family: "Press Start 2P", system-ui;
  font-weight: 500;
  font-size: 12px;
  color: #fff020;
}

@media screen and (max-width: 1023px) {
  .cabecalho {
    height: 90px;
  }

  .container-principal {
    margin-top: 16px;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    padding: 10px 0;
    gap: 12px;
  }

  section {
    padding: 10px;
  }

  .secao-produtos {
    width: 100vw;
    box-shadow: none;
    margin-top: 16px;
  }

  .produtos-container {
    display: flex;
    justify-content: space-around;
    gap: 25px;
    margin-bottom: 40px;
  }

  .card {
    width: calc(50% - 20px);
    height: auto;
    padding: 10px;
    box-shadow: none;
  }

  .imagem-container img {
    height: 100px;
  }

  .secao-formulario {
    width: 80vw;
    margin: 0 auto;
  }

  .rodape-container {
    width: 100%;
    height: 80px;
  }

  .rodape-container p {
    font-size: 10px;
    text-align: center;
    margin-bottom: 0;
  }
}

